.confirm-dialog {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-30 {
    font-size: 30px !important;
}
  

.content-custom {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}