<div class="container">
  <h3 class="text-center font-size-24">Movimenti per categoria</h3>
  <div class="chart">
    <img class="logo-position" src="../../../assets/finance-logo-removebg-preview.png" alt="" height="220" width="220">
    <canvas id="myChart" width="300" height="250" #mychart></canvas>
  </div>
</div>

<div class="container">
  <h3 class="text-center font-size-24">Movimenti in Uscita</h3>
  <div class="chart" style="margin-top: 50px; margin-bottom:50px;">
    <img class="logo-position" src="../../../assets/finance-logo-removebg-preview.png" alt="" height="150" width="150">
    <canvas id="myChart2" width="300" height="250" #mychart2></canvas>
  </div>
</div>


<div class="container">
  <h3 class="text-center font-size-24">Movimenti in Entrata</h3>
  <div class="chart">
    <img class="logo-position" src="../../../assets/finance-logo-removebg-preview.png" alt="" height="150" width="150">
    <canvas id="myChart3" width="300" height="250" #mychart3></canvas>
  </div>
</div>



<!--<div class="container">
  <h3 class="text-center font-size-24">Movimenti per Data</h3>
  <div class="chart">
    <img class="logo-position" src="../../../assets/finance-logo-removebg-preview.png" alt="" height="150" width="150">
    <canvas id="myChart4" width="300" height="250" #mychart4></canvas>
  </div>
</div>-->
